.image-section {
    overflow: hidden;
    position: absolute;
}

.home-image {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden;
}

.orderFood-container{
    background-color: F8F6F2;
}