/*ORDER ONLINE*/
.orderOnline-container {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #F8F6F2;
    position: relative;
}

.orderOnline-header {
    margin-top: 10px;  
    font: Roboto;
    font-weight: 500;
}

.orderOnline-button {
    width: 24em;
    height: 3.5em;
    border: solid;
    border-color: #1D1F2C;
}

.openingHours{
    height: auto;
    background-color: #1D1F2C;
}

/*OPENING HOURS*/
.opening-hours{
    font-weight: bold;
    font-family: Roboto;
    margin-top: 50px;
    margin-bottom: 15px;
    
}

.mon-thur{

}

.fri-dun{
    margin-bottom: 15px;
}

/*PIZZA MENU*/
.pizzaMenu-container{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #F8F6F2;
    position: relative;
    overflow-y: hidden;
  
}
.pizza-text{
   
}


.pizza-menu {
    background-color:#F8F6F2;

}

.pizzaMenu-header{
    text-align: center;
    justify-content: center;
    color: blue;
    font-size: 42px;
    font-family: Roboto, sans-serif, 700;
    font-weight: 700;
    margin: auto;
    
    letter-spacing: 8px;
}

.pizzaMenu-text{
    text-align: center;
    justify-content: center;
    color: blue;
    font-size: 42px;
    font-family: Roboto, sans-serif;
}


.hero-image2{
    height: 100px;
    width: 100%;
    object-fit: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    overflow-y: hidden;
}


/*PASTA MENU*/
.pastaMenu-container{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #F8F6F2;
    position: relative;
    overflow-y: hidden;
}

.pastaMenu-header{
    text-align: center;
    justify-content: center;
    color: blue;
    font-size: 42px;
    font-family: Roboto, sans-serif, 700;
    font-weight: 700;
    margin: auto;
    
    letter-spacing: 8px;
}

.pastaMenu-text{
    text-align: center;
    justify-content: center;
    color: blue;
    font-size: 42px;
    font-family: Roboto, sans-serif;
}


/*SIDE DISHES MENU*/
.sideDishesMenu-container{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #F8F6F2;
    position: relative;
    overflow-y: hidden;
}


/*BEVERAGE MENU*/
.beveragesMenu-container{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #F8F6F2;
    position: relative;
    overflow-y: hidden;
}


/*GLOBAL*/

.darkButton-small{

}

.darkButton-medium{
    background-color: #1D1F2C;
    font-size: 18px;
    width: 18em;
    height: 3em;
    color: white;
    letter-spacing: 4px; 
}

.darkButton-large{

}



.card {
    background-color: #F8F6F2;
    display:inline;
}

.textBox-menus{
    justify-content: center;
    text-align: center;
    width: 25%;
}


.MuiCard-root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MuiCard-root{
    display: flex;
    flex-direction: column;
}

.MuiCardActions-root{
    margin-top: auto;
}
*/ 


.title{
    
}

.description {

}

.allergens {

}

.price {

}

.toNextMenu-button{
    width: 9em;
    height: 2em;
    border-color: #1D1F2C, solid;
    font-weight: 500;
}

.add-button{
    float: right;
    
}

.home {
    overflow-y: hidden;
    overflow-x: hidden;
}

.app {
    overflow-y: hidden;
    overflow-x: hidden;
}

body{
    margin: 0;
}

/*
.checkout-button{
    size: medium;
    justify-content: center;
    letter-spacing: 4px;
    background-color:#1D1F2C ;
    color: #1D1F2C;
    
}*/