.image-container {
    margin: 0;
}

.hero-image {
    height: auto;
    width: 100%;
    object-fit: cover;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.nav-header {
    height: auto;
    font-family: Roboto;
    width: 100%;
    position: relative;
}

.mobile-nav-bar {
    display: none;
}

.nav-container {
    position: relative;
    display: flex;
}

.checkout-container {
    background-color: #F8F6F2;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.payment-container {
    background-color: #F8F6F2;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.check-out-button {
    width: 20em;
    font-size: 18;
}

@media (max-width: 1010px) {
    .nav-bar {
        display: none;
    }

    .mobile-nav-bar {
        display: flex;
        position: relative;
        right: 0;
    }

    .nav-burger {
        position: relative;
        top: 30%;
        right: 5%;
        cursor: pointer;
    }

    .nav-content-container{
        position: relative;
        flex-direction: column;
        top: 200px;
        right: 0;
    }
    .check-out-button {
        margin: 0;
        padding: 0;
        width: 10em;
        font-size: 14px;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .check-out-button {
        margin: 0;
        padding: 0;
        width: 10em;
        font-size: 14px;
        justify-content: center;
        text-align: center;
    }
}