
/*
@media screen and (max-width: 600px) {
    .nav-bar {
        background-color: pink;
    }
}
*/

.image-container {
    margin: 0;
    position: relative;
}

.hero-image {
    height: 700px;
    width: 1500px;
    object-fit: cover;
}


