.nav-bar {
    background-color: cadetblue;
}

@media all and (min-width: 600px) {
    .nav-bar {
        background-color: pink;
    }
}


.home-image {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}


